@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
}

@-webkit-keyframes openCover {
  from {
    transform: rotateX(38deg) rotateY(38deg) rotateZ(-38deg);
    opacity: 1;
  }
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 0;
  }
}

@keyframes openCover {
  from {
    transform: rotateX(38deg) rotateY(38deg) rotateZ(-38deg);
    opacity: 1;
  }
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 0;
  }
}
@-webkit-keyframes openPaper {
  from {
    transform: rotateX(38deg) rotateY(38deg) rotateZ(-38deg);
  }
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}
@keyframes openPaper {
  from {
    transform: rotateX(38deg) rotateY(38deg) rotateZ(-38deg);
  }
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}
@-webkit-keyframes closeCover {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 0;
  }
  to {
    transform: rotateX(38deg) rotateY(38deg) rotateZ(-38deg);
    opacity: 1;
  }
}
@keyframes closeCover {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 0;
  }
  to {
    transform: rotateX(38deg) rotateY(38deg) rotateZ(-38deg);
    opacity: 1;
  }
}
@-webkit-keyframes closePaper {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(38deg) rotateY(38deg) rotateZ(-38deg);
  }
}
@keyframes closePaper {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(38deg) rotateY(38deg) rotateZ(-38deg);
  }
}
body {
  --bg-image:url(./camera.webp);
  --bg-opacity:0.75;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}
body::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  filter: blur(3px);
  background-image: var(--bg-image);
  opacity: var(--bg-opacity);
  background-size: cover;
}
body .cursor {
  position: absolute;
  width: 5vmax;
  height: 5vmax;
  pointer-events: none;
  background-size: cover;
  background-image: url(./pen.webp);
  /*這樣還是可以選擇到底下的東西*/
  transform: translate(-2.5vmax, -2.5vmax);
  z-index: 100;
}
body .bye {
  position: absolute;
  left: 2%;
  top: 0.5%;
  width: 4.5vmax;
  height: 4.5vmax;
  display: flex;
  font-size: 4vmax;
  font-weight: 600;
  color: rgb(39, 17, 0);
  font-family: "Carattere";
}
body .background-music {
  position: absolute;
  right: 18%;
  top: 0.5%;
  width: 4.5vmax;
  height: 4.5vmax;
  display: flex;
  font-size: 4vmax;
  font-weight: 600;
  color: rgb(39, 17, 0);
  font-family: "Carattere";
}
body .edit {
  position: absolute;
  right: 11%;
  top: 0%;
  width: 4.5vmax;
  height: 4.5vmax;
  display: flex;
  font-size: 4vmax;
  font-weight: 600;
  color: rgb(39, 17, 0);
  font-family: "Carattere";
}
body .finish {
  position: absolute;
  right: 3%;
  top: 1%;
  width: 4.5vmax;
  height: 4.5vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vmax;
  font-weight: 600;
  color: rgb(39, 17, 0);
  font-family: "Carattere";
}
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 73vh;
  position: relative;
  perspective: 800px;
}
body .container .cover {
  position: absolute;
  background-image: url(./BookCover.webp);
  background-size: cover;
  -webkit-clip-path: polygon(15% 0%, 2% 9%, 3% 24%, 0% 39%, 4% 52%, 2% 67%, 5% 75%, 0% 90%, 8% 100%, 20% 96%, 31% 100%, 41% 96%, 45% 100%, 56% 98%, 59% 100%, 70% 96%, 83% 100%, 90% 92%, 100% 83%, 95% 71%, 100% 64%, 98% 48%, 100% 30%, 95% 21%, 99% 12%, 98% 0%, 81% 5%, 76% 0%, 67% 8%, 59% 3%, 51% 9%, 40% 2%, 32% 7%, 24% 2%);
          clip-path: polygon(15% 0%, 2% 9%, 3% 24%, 0% 39%, 4% 52%, 2% 67%, 5% 75%, 0% 90%, 8% 100%, 20% 96%, 31% 100%, 41% 96%, 45% 100%, 56% 98%, 59% 100%, 70% 96%, 83% 100%, 90% 92%, 100% 83%, 95% 71%, 100% 64%, 98% 48%, 100% 30%, 95% 21%, 99% 12%, 98% 0%, 81% 5%, 76% 0%, 67% 8%, 59% 3%, 51% 9%, 40% 2%, 32% 7%, 24% 2%);
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(38deg) rotateY(38deg) rotateZ(-38deg);
  opacity: 1;
  z-index: 1;
  pointer-events: none;
  -webkit-animation: none;
          animation: none;
}
body .container .paper {
  position: absolute;
  background-image: url(./PaperPage.webp);
  -webkit-clip-path: polygon(15% 0%, 2% 9%, 3% 24%, 0% 39%, 4% 52%, 2% 67%, 5% 75%, 0% 90%, 8% 100%, 20% 96%, 31% 100%, 41% 96%, 45% 100%, 56% 98%, 59% 100%, 70% 96%, 83% 100%, 90% 92%, 100% 83%, 95% 71%, 100% 64%, 98% 48%, 100% 30%, 95% 21%, 99% 12%, 98% 0%, 81% 5%, 76% 0%, 67% 8%, 59% 3%, 51% 9%, 40% 2%, 32% 7%, 24% 2%);
          clip-path: polygon(15% 0%, 2% 9%, 3% 24%, 0% 39%, 4% 52%, 2% 67%, 5% 75%, 0% 90%, 8% 100%, 20% 96%, 31% 100%, 41% 96%, 45% 100%, 56% 98%, 59% 100%, 70% 96%, 83% 100%, 90% 92%, 100% 83%, 95% 71%, 100% 64%, 98% 48%, 100% 30%, 95% 21%, 99% 12%, 98% 0%, 81% 5%, 76% 0%, 67% 8%, 59% 3%, 51% 9%, 40% 2%, 32% 7%, 24% 2%);
  background-size: cover;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(38deg) rotateY(38deg) rotateZ(-38deg);
  pointer-events: none;
  -webkit-animation: none;
          animation: none;
}
body .container .paper label {
  font-size: 5.5vmax;
  font-weight: 600;
  color: rgb(39, 17, 0);
  position: absolute;
  left: 6%;
  top: 5%;
  font-family: "Carattere";
}
body .container .paper #text {
  font-size: 3vmax;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: rgb(39, 17, 0);
  position: absolute;
  left: 5%;
  top: 20%;
  font-family: "Carattere", "細明體";
  pointer-events: auto;
}
body .container .paper #text:focus {
  outline: none;
}
body .container .paper #text::-moz-placeholder {
  color: rgb(39, 17, 0);
}
body .container .paper #text:-ms-input-placeholder {
  color: rgb(39, 17, 0);
}
body .container .paper #text::placeholder {
  color: rgb(39, 17, 0);
}
body .container .paper .btn {
  position: absolute;
  top: 20%;
  right: 7%;
  width: 4.5vmax;
  height: 4.5vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmax;
  font-weight: 600;
  color: rgb(39, 17, 0);
  font-family: "Carattere";
  pointer-events: auto;
}
body .container .list {
  position: absolute;
  top: 30%;
  left: 15%;
  list-style-type: upper-roman;
}
body .container .list li {
  font-family: "Carattere", "細明體";
  font-size: 2.3vmax;
  font-weight: 300;
  font-style: italic;
  color: rgb(39, 17, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body .message {
  background-image: url(./messagePaperPage.webp);
  -webkit-clip-path: polygon(4% 1%, 1% 10%, 3% 25%, 1% 47%, 3% 60%, 0% 75%, 1% 89%, 9% 98%, 32% 100%, 42% 96%, 54% 100%, 62% 98%, 70% 100%, 82% 97%, 95% 99%, 100% 91%, 100% 72%, 98% 54%, 100% 46%, 100% 28%, 99% 17%, 99% 9%, 99% 1%, 62% 0%, 33% 0%, 20% 1%);
          clip-path: polygon(4% 1%, 1% 10%, 3% 25%, 1% 47%, 3% 60%, 0% 75%, 1% 89%, 9% 98%, 32% 100%, 42% 96%, 54% 100%, 62% 98%, 70% 100%, 82% 97%, 95% 99%, 100% 91%, 100% 72%, 98% 54%, 100% 46%, 100% 28%, 99% 17%, 99% 9%, 99% 1%, 62% 0%, 33% 0%, 20% 1%);
  background-color: transparent;
  background-size: cover;
  position: absolute;
  border: none;
  width: 30%;
  height: 35vh;
  left: 35%;
  top: 32.5vh;
}
body .message .modal-message {
  position: absolute;
  left: 13%;
  top: 20%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 3.5vmax;
  font-weight: 600;
  color: rgb(39, 17, 0);
  font-family: "Carattere";
}
body .message .closebtn {
  position: absolute;
  left: 13%;
  top: 75%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  font-size: 2.8vmax;
  font-weight: 600;
  text-decoration: underline;
  color: rgb(39, 17, 0);
  font-family: "Carattere";
}

@media screen and (width < 768px) {
  body .bye {
    position: absolute;
    left: 2%;
    top: 1%;
    width: 4.5vmax;
    height: 4.5vmax;
    display: flex;
    font-size: 4vmax;
    font-weight: 600;
    color: rgb(39, 17, 0);
    font-family: "Carattere";
  }
  body .background-music {
    position: absolute;
    right: 23%;
    top: 1%;
    width: 4.5vmax;
    height: 4.5vmax;
    display: flex;
    font-size: 4vmax;
    font-weight: 600;
    color: rgb(39, 17, 0);
    font-family: "Carattere";
  }
  body .edit {
    position: absolute;
    right: 14%;
    top: 1%;
    width: 4.5vmax;
    height: 4.5vmax;
    display: flex;
    font-size: 4vmax;
    font-weight: 600;
    color: rgb(39, 17, 0);
    font-family: "Carattere";
  }
  body .finish {
    position: absolute;
    right: 2%;
    top: 1%;
    width: 4.5vmax;
    height: 4.5vmax;
    display: flex;
    font-size: 4vmax;
    font-weight: 600;
    color: rgb(39, 17, 0);
    font-family: "Carattere";
  }
  body .message {
    background-image: url(./messagePaperPage.webp);
    -webkit-clip-path: polygon(4% 1%, 1% 10%, 3% 25%, 1% 47%, 3% 60%, 0% 75%, 1% 89%, 9% 98%, 32% 100%, 42% 96%, 54% 100%, 62% 98%, 70% 100%, 82% 97%, 95% 99%, 100% 91%, 100% 72%, 98% 54%, 100% 46%, 100% 28%, 99% 17%, 99% 9%, 99% 1%, 62% 0%, 33% 0%, 20% 1%);
            clip-path: polygon(4% 1%, 1% 10%, 3% 25%, 1% 47%, 3% 60%, 0% 75%, 1% 89%, 9% 98%, 32% 100%, 42% 96%, 54% 100%, 62% 98%, 70% 100%, 82% 97%, 95% 99%, 100% 91%, 100% 72%, 98% 54%, 100% 46%, 100% 28%, 99% 17%, 99% 9%, 99% 1%, 62% 0%, 33% 0%, 20% 1%);
    background-color: transparent;
    background-size: cover;
    position: absolute;
    border: none;
    width: 40%;
    height: 25vh;
    left: 30%;
    top: 37.5vh;
  }
  body .message .modal-message {
    position: absolute;
    left: 14%;
    top: 15%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 3.5vmax;
    font-weight: 600;
    color: rgb(39, 17, 0);
    font-family: "Carattere";
  }
  body .message .closebtn {
    position: absolute;
    left: 65%;
    top: 80%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: none;
    text-decoration: underline;
    background-color: transparent;
    font-size: 2.5vmax;
    font-weight: 600;
    color: rgb(39, 17, 0);
    font-family: "Carattere";
  }
  body .container {
    width: 78%;
    height: 65vh;
  }
  body .container .paper {
    width: 100%;
    height: 100%;
  }
  body .container .paper label {
    font-size: 5.5vmax;
    left: 6%;
    top: 5%;
  }
  body .container .paper #text {
    font-size: 3.5vmax;
    left: 4.5%;
    top: 20%;
  }
  body .container .paper .btn {
    font-size: 3.5vmax;
    right: 7%;
    top: 16%;
  }
  body .container .list {
    left: 18%;
  }
}/*# sourceMappingURL=style.css.map */